#  Grade Point Average

The academic office has compiled data about students' grades. The data is provided as text from standard input in three parts: information about courses, information about students and information about grades. Each part has a specific line format, described below..

###### Information about courses

Line format: Course Code~Course Name~Semester~Year~Instructor

###### Information about students

Line format: Roll Number~Full Name

###### Information about grades

Line format: Course Code~Semester~Year~Roll Number~Grade

The possible grades are A, AB, B, BC, C, CD, D with corresponding grade points 10, 9, 8, 7, 6, 5 and 4. The grade point average of a student is the sum of his/her grade points divided by the number of courses. For instance, if a student has taken two courses with grades A and C, the grade point average is 8 = (10+6)รท2. If a student has not completed any courses, the grade point average is defined to be 0.


Each section of the input starts with a line containing a single keyword. The first section begins with a line containing Courses. The second section begins with a line containing Students. The third section begins with a line containing Grades. The end of the input is marked by a line containing EndOfInput.

Write a Python program to read the data as described above and print out a line listing the grade point average for each student in the following format:

Roll Number~Full Name~Grade Point Average

Your output should be sorted by Roll Number. The grade point average should be rounded off to 2 digits after the decimal point. Use the built-in function round().

In [ ]:
def calculate():
    
    for l in rollgrade:
        sum,count=0,0
        for gr in rollgrade[l]:
            if gr=='A':
                sum +=10
            elif gr=='AB':
                sum +=9
            elif gr=='B':
                sum +=8
            elif gr=='BC':
                sum +=7
            elif gr=='C':
                sum +=6
            elif gr=='CD':
                sum +=5
            elif gr=='D': # Mind it next time :)
                sum +=4
            else:
                sum=0
            count=count+1
        if count!=0:
            avg=sum/count
        else:
            avg=0
        rollavg[l]=round(avg,2)


if __name__=='__main__':
  
    rollname,rollgrade,rollavg={},{},{}

    inp=input()
    if inp=='Courses':
        while True:
            inp=input()
            if inp=='Students':
                break
            
    if inp=='Students':
        while True:
            inp=input()
            if inp=='Grades':
                break
            else:
                roll,name=inp.split('~')
                rollname[roll]=name.rstrip()
                rollgrade[roll]=[]
              
    if inp=='Grades':   
        while True:
            inp=input()
            if inp=='EndOfInput':
                break
            else:
                Ccode,sem,year,roll,grade=inp.split('~')
                rollgrade[roll].append(grade.rstrip())
          
    calculate()  
    listroll=list(rollname.keys())
    listroll=sorted(listroll)
    for l in listroll:
         print(l+"~"+rollname[l]+"~"+str(rollavg[l]))

## Input 
Courses

TRAN~Transfiguration~1~2011-2012~Minerva McGonagall

CHAR~Charms~1~2011-2012~Filius Flitwick

Students

SLY2301~Hannah Abbott

SLY2302~Euan Abercrombie

SLY2303~Stewart Ackerley

SLY2304~Bertram Aubrey

SLY2305~Avery

SLY2306~Malcolm Baddock

SLY2307~Marcus Belby

SLY2308~Katie Bell

SLY2309~Sirius Orion Black

Grades

TRAN~1~2011-2012~SLY2301~AB

TRAN~1~2011-2012~SLY2302~B

TRAN~1~2011-2012~SLY2303~B

TRAN~1~2011-2012~SLY2305~A

TRAN~1~2011-2012~SLY2306~BC

TRAN~1~2011-2012~SLY2308~A

TRAN~1~2011-2012~SLY2309~AB

CHAR~1~2011-2012~SLY2301~A

CHAR~1~2011-2012~SLY2302~BC

CHAR~1~2011-2012~SLY2303~B

CHAR~1~2011-2012~SLY2305~BC

CHAR~1~2011-2012~SLY2306~C

CHAR~1~2011-2012~SLY2307~B

CHAR~1~2011-2012~SLY2308~AB

EndOfInput

## Output

SLY2301~Hannah Abbott~9.5

SLY2302~Euan Abercrombie~7.5

SLY2303~Stewart Ackerley~8.0

SLY2304~Bertram Aubrey~0

SLY2305~Avery~8.5

SLY2306~Malcolm Baddock~6.5

SLY2307~Marcus Belby~8.0

SLY2308~Katie Bell~9.5

SLY2309~Sirius Orion Black~9.0

# File Handling and Pandas

In [1]:
import pandas as pd

In [2]:
rollname,rollgrade,rollavg={},{},{}

In [3]:
df=pd.DataFrame(columns=["RollNo","Full Name","Course Code","Semester","Year","Grade"])
print(df)

Empty DataFrame
Columns: [RollNo, Full Name, Course Code, Semester, Year, Grade]
Index: []

In [4]:
# function to calculate grade as per criteria
def calculate():
    
    for l in rollgrade:
        sum,count=0,0
        for gr in rollgrade[l]:
            if gr=='A':
                sum +=10
            elif gr=='AB':
                sum +=9
            elif gr=='B':
                sum +=8
            elif gr=='BC':
                sum +=7
            elif gr=='C':
                sum +=6
            elif gr=='CD':
                sum +=5
            elif gr=='D':
                sum +=4
            else:
                pass
            count=count+1
            
        if count!=0:
            avg=sum/count
        else:
            avg=0
        rollavg[l]=round(avg,2)

In [5]:
fh = open("data8.txt",'r') # opening file handler as fh

contents = fh.readlines() # contents holds the file as a list

start=contents.index('Students\n')
end=contents.index('Grades\n')

#for l in contents:
    #print(l,end="")
#print(start,end)
#print(contents[start:end])


# Reading values of section 2 and making dictionary and dataframe out of it
for l in contents[start+1:end]:
    roll,name=l.split('~')
    rollname[roll]=name.rstrip()
    rollgrade[roll]=[]
    # creation of data frame from data of file
    df=df.append({"RollNo":roll,"Full Name":name.rstrip(),"Grade":[]},ignore_index=True)
#print(rollname)

# Reading data of section 3
start=end
end=contents.index('EndOfInput')
for l in contents[start+1:end]:
    Ccode,sem,year,roll,grade=l.split('~')
    rollgrade[roll].append(grade.rstrip())
#print(rollgrade)

In [6]:
df

     RollNo               Full Name Course Code Semester Year Grade
0   SLY2301           Hannah Abbott         NaN      NaN  NaN    []
1   SLY2302        Euan Abercrombie         NaN      NaN  NaN    []
2   SLY2303        Stewart Ackerley         NaN      NaN  NaN    []
3   SLY2304          Bertram Aubrey         NaN      NaN  NaN    []
4   SLY2305                   Avery         NaN      NaN  NaN    []
5   SLY2306         Malcolm Baddock         NaN      NaN  NaN    []
6   SLY2307            Marcus Belby         NaN      NaN  NaN    []
7   SLY2308              Katie Bell         NaN      NaN  NaN    []
8   SLY2309      Sirius Orion Black         NaN      NaN  NaN    []
9   SLY2310          Melinda Bobbin         NaN      NaN  NaN    []
10  SLY2311             Susan Bones         NaN      NaN  NaN    []
11  SLY2312              Terry Boot         NaN      NaN  NaN    []
12  SLY2313       Eleanor Branstone         NaN      NaN  NaN    []
13  SLY2315      Mandy Brocklehurst         NaN      NaN  NaN    []
14  SLY2316          Lavender Brown         NaN      NaN  NaN    []
15  SLY2317     Millicent Bulstrode         NaN      NaN  NaN    []
16  SLY2318               S. Capper         NaN      NaN  NaN    []
17  SLY2319        Eddie Carmichael         NaN      NaN  NaN    []
18  SLY2320          Owen Cauldwell         NaN      NaN  NaN    []
19  SLY2321               Cho Chang         NaN      NaN  NaN    []
20  SLY2323          Michael Corner         NaN      NaN  NaN    []
21  GRF3701          Vincent Crabbe         NaN      NaN  NaN    []
22  GRF3702           Colin Creevey         NaN      NaN  NaN    []
23  GRF3703          Dennis Creevey         NaN      NaN  NaN    []
24  GRF3704            Roger Davies         NaN      NaN  NaN    []
25  GRF3705          Cedric Diggory         NaN      NaN  NaN    []
26  GRF3706           Harold Dingle         NaN      NaN  NaN    []
27  GRF3707              Emma Dobbs         NaN      NaN  NaN    []
28  GRF3708                J. Dorny         NaN      NaN  NaN    []
29  GRF3709              B. Dunstan         NaN      NaN  NaN    []
..      ...                     ...         ...      ...  ...   ...
44  RAV4307         Geoffrey Hooper         NaN      NaN  NaN    []
45  RAV4308            Olive Hornby         NaN      NaN  NaN    []
46  RAV4309        Angelina Johnson         NaN      NaN  NaN    []
47  HUF7201            Gwenog Jones         NaN      NaN  NaN    []
48  HUF7202              Lee Jordan         NaN      NaN  NaN    []
49  HUF7203          Bertha Jorkins         NaN      NaN  NaN    []
50  HUF7204             Viktor Krum         NaN      NaN  NaN    []
51  HUF7206     Bellatrix Lestrange         NaN      NaN  NaN    []
52  HUF7207      Neville Longbottom         NaN      NaN  NaN    []
53  HUF7208           Luna Lovegood         NaN      NaN  NaN    []
54  HUF7209        Remus John Lupin         NaN      NaN  NaN    []
55  HUF7210          Mary Macdonald         NaN      NaN  NaN    []
56  RAV5901             Oliver Wood         NaN      NaN  NaN    []
57  RAV5902        Isobel MacDougal         NaN      NaN  NaN    []
58  RAV5903         Morag MacDougal         NaN      NaN  NaN    []
59  RAV5904        Ernest Macmillan         NaN      NaN  NaN    []
60  RAV5905            Laura Madley         NaN      NaN  NaN    []
61  RAV5906            Draco Malfoy         NaN      NaN  NaN    []
62  RAV5907        Natalie McDonald         NaN      NaN  NaN    []
63  RAV5908        M. G. McGonagall         NaN      NaN  NaN    []
64  GRF9101           Eloise Midgen         NaN      NaN  NaN    []
65  GRF9102  Laverne de Montmorency         NaN      NaN  NaN    []
66  GRF9103      Montgomery sisters         NaN      NaN  NaN    []
67  GRF9104               Lily Moon         NaN      NaN  NaN    []
68  GRF9105           Harold Potter         NaN      NaN  NaN    []
69  GRF9106           Theodore Nott         NaN      NaN  NaN    []
70  GRF9107      Garrick Ollivander         NaN      NaN  NaN    []
71  GRF9108         Pansy Parkinson         NaN      NaN  NaN    []
72  GRF9109             Padma Patil         NaN      NaN  NaN    []
73  GRF9110           Parvati Patil         NaN      NaN  NaN    []

[74 rows x 6 columns]

In [7]:
df[df["RollNo"]=="GRF9103"].index[0] # Extracting index of a particular Roll No

66

In [8]:
df["Full Name"][66]

'Montgomery sisters'

In [9]:
print("Dictionary along with name")
print(rollname)
print("Dictionary along with list of grades")
print(rollgrade)
print("Dictionary along with average")
print(rollavg)

Dictionary along with name
{'SLY2301': 'Hannah Abbott', 'SLY2302': 'Euan Abercrombie', 'SLY2303': 'Stewart Ackerley', 'SLY2304': 'Bertram Aubrey', 'SLY2305': 'Avery', 'SLY2306': 'Malcolm Baddock', 'SLY2307': 'Marcus Belby', 'SLY2308': 'Katie Bell', 'SLY2309': 'Sirius Orion Black', 'SLY2310': 'Melinda Bobbin', 'SLY2311': 'Susan Bones', 'SLY2312': 'Terry Boot', 'SLY2313': 'Eleanor Branstone', 'SLY2315': 'Mandy Brocklehurst', 'SLY2316': 'Lavender Brown', 'SLY2317': 'Millicent Bulstrode', 'SLY2318': 'S. Capper', 'SLY2319': 'Eddie Carmichael', 'SLY2320': 'Owen Cauldwell', 'SLY2321': 'Cho Chang', 'SLY2323': 'Michael Corner', 'GRF3701': 'Vincent Crabbe', 'GRF3702': 'Colin Creevey', 'GRF3703': 'Dennis Creevey', 'GRF3704': 'Roger Davies', 'GRF3705': 'Cedric Diggory', 'GRF3706': 'Harold Dingle', 'GRF3707': 'Emma Dobbs', 'GRF3708': 'J. Dorny', 'GRF3709': 'B. Dunstan', 'GRF3710': 'Marietta Edgecombe', 'GRF3711': 'S. Fawcett', 'GRF3712': 'Justin Finch-Fletchley', 'GRF3713': 'Seamus Finnigan', 'GRF3714': 'Vicky Frobisher', 'GRF3715': 'Basil Fronsac', 'GRF3716': 'Anthony Goldstein', 'GRF3717': 'Gregory Goyle', 'RAV4301': 'Hermione Jean Granger', 'RAV4302': 'Daphne Greengrass', 'RAV4303': 'Gellert Grindelwald', 'RAV4304': 'Davey Gudgeon', 'RAV4305': 'Rubeus Hagrid', 'RAV4306': 'Ciceron Harkiss', 'RAV4307': 'Geoffrey Hooper', 'RAV4308': 'Olive Hornby', 'RAV4309': 'Angelina Johnson', 'HUF7201': 'Gwenog Jones', 'HUF7202': 'Lee Jordan', 'HUF7203': 'Bertha Jorkins', 'HUF7204': 'Viktor Krum', 'HUF7206': 'Bellatrix Lestrange', 'HUF7207': 'Neville Longbottom', 'HUF7208': 'Luna Lovegood', 'HUF7209': 'Remus John Lupin', 'HUF7210': 'Mary Macdonald', 'RAV5901': 'Oliver Wood', 'RAV5902': 'Isobel MacDougal', 'RAV5903': 'Morag MacDougal', 'RAV5904': 'Ernest Macmillan', 'RAV5905': 'Laura Madley', 'RAV5906': 'Draco Malfoy', 'RAV5907': 'Natalie McDonald', 'RAV5908': 'M. G. McGonagall', 'GRF9101': 'Eloise Midgen', 'GRF9102': 'Laverne de Montmorency', 'GRF9103': 'Montgomery sisters', 'GRF9104': 'Lily Moon', 'GRF9105': 'Harold Potter', 'GRF9106': 'Theodore Nott', 'GRF9107': 'Garrick Ollivander', 'GRF9108': 'Pansy Parkinson', 'GRF9109': 'Padma Patil', 'GRF9110': 'Parvati Patil'}
Dictionary along with list of grades
{'SLY2301': ['AB', 'A', 'AB', 'B'], 'SLY2302': ['B', 'BC', 'C', 'AB'], 'SLY2303': ['B', 'B', 'AB', 'C'], 'SLY2304': ['C', 'B', 'BC', 'BC'], 'SLY2305': ['A', 'BC', 'CD', 'A'], 'SLY2306': ['BC', 'C', 'BC', 'BC'], 'SLY2307': ['AB', 'B', 'A', 'C'], 'SLY2308': ['A', 'AB', 'BC', 'CD'], 'SLY2309': ['AB', 'A', 'AB', 'B'], 'SLY2310': ['A', 'AB', 'A', 'AB'], 'SLY2311': ['C', 'C', 'BC', 'A'], 'SLY2312': ['BC', 'BC', 'CD', 'BC'], 'SLY2313': ['BC', 'B', 'C', 'B'], 'SLY2315': ['A', 'C', 'BC', 'C'], 'SLY2316': ['AB', 'BC', 'BC', 'CD'], 'SLY2317': ['BC', 'CD', 'D', 'B'], 'SLY2318': ['CD', 'BC', 'CD', 'AB'], 'SLY2319': ['AB', 'C', 'CD', 'BC'], 'SLY2320': ['A', 'AB', 'AB', 'B'], 'SLY2321': ['B', 'BC', 'AB', 'C'], 'SLY2323': ['AB', 'B', 'A', 'D'], 'GRF3701': [], 'GRF3702': [], 'GRF3703': [], 'GRF3704': [], 'GRF3705': [], 'GRF3706': [], 'GRF3707': [], 'GRF3708': [], 'GRF3709': [], 'GRF3710': [], 'GRF3711': [], 'GRF3712': [], 'GRF3713': [], 'GRF3714': [], 'GRF3715': [], 'GRF3716': [], 'GRF3717': ['CD'], 'RAV4301': ['AB', 'B', 'C', 'AB', 'C'], 'RAV4302': ['BC', 'AB', 'BC', 'AB', 'B'], 'RAV4303': ['C', 'AB', 'A', 'A', 'A', 'B'], 'RAV4304': ['AB', 'AB', 'C', 'BC', 'B'], 'RAV4305': ['BC', 'BC', 'BC', 'C', 'AB'], 'RAV4306': ['C', 'BC', 'B', 'C', 'B', 'BC'], 'RAV4307': ['AB', 'B', 'B', 'A', 'B'], 'RAV4308': ['C', 'B', 'BC', 'C', 'B'], 'RAV4309': ['BC', 'B', 'CD', 'B', 'BC'], 'HUF7201': [], 'HUF7202': ['AB'], 'HUF7203': [], 'HUF7204': ['C'], 'HUF7206': [], 'HUF7207': ['D'], 'HUF7208': ['B'], 'HUF7209': [], 'HUF7210': ['BC'], 'RAV5901': ['AB'], 'RAV5902': ['C'], 'RAV5903': [], 'RAV5904': [], 'RAV5905': ['AB'], 'RAV5906': ['BC'], 'RAV5907': ['CD'], 'RAV5908': ['BC'], 'GRF9101': ['C'], 'GRF9102': ['C'], 'GRF9103': ['B'], 'GRF9104': ['AB'], 'GRF9105': ['AB'], 'GRF9106': ['AB'], 'GRF9107': ['A'], 'GRF9108': ['B'], 'GRF9109': ['AB'], 'GRF9110': ['A']}
Dictionary along with average
{}

In [10]:
calculate()  
listroll=list(rollname.keys())
listroll=sorted(listroll)
for l in listroll:
    print(l+"~"+rollname[l]+"~"+str(rollavg[l]))
fh.close()

GRF3701~Vincent Crabbe~0
GRF3702~Colin Creevey~0
GRF3703~Dennis Creevey~0
GRF3704~Roger Davies~0
GRF3705~Cedric Diggory~0
GRF3706~Harold Dingle~0
GRF3707~Emma Dobbs~0
GRF3708~J. Dorny~0
GRF3709~B. Dunstan~0
GRF3710~Marietta Edgecombe~0
GRF3711~S. Fawcett~0
GRF3712~Justin Finch-Fletchley~0
GRF3713~Seamus Finnigan~0
GRF3714~Vicky Frobisher~0
GRF3715~Basil Fronsac~0
GRF3716~Anthony Goldstein~0
GRF3717~Gregory Goyle~5.0
GRF9101~Eloise Midgen~6.0
GRF9102~Laverne de Montmorency~6.0
GRF9103~Montgomery sisters~8.0
GRF9104~Lily Moon~9.0
GRF9105~Harold Potter~9.0
GRF9106~Theodore Nott~9.0
GRF9107~Garrick Ollivander~10.0
GRF9108~Pansy Parkinson~8.0
GRF9109~Padma Patil~9.0
GRF9110~Parvati Patil~10.0
HUF7201~Gwenog Jones~0
HUF7202~Lee Jordan~9.0
HUF7203~Bertha Jorkins~0
HUF7204~Viktor Krum~6.0
HUF7206~Bellatrix Lestrange~0
HUF7207~Neville Longbottom~4.0
HUF7208~Luna Lovegood~8.0
HUF7209~Remus John Lupin~0
HUF7210~Mary Macdonald~7.0
RAV4301~Hermione Jean Granger~7.6
RAV4302~Daphne Greengrass~8.0
RAV4303~Gellert Grindelwald~8.83
RAV4304~Davey Gudgeon~7.8
RAV4305~Rubeus Hagrid~7.2
RAV4306~Ciceron Harkiss~7.0
RAV4307~Geoffrey Hooper~8.6
RAV4308~Olive Hornby~7.0
RAV4309~Angelina Johnson~7.0
RAV5901~Oliver Wood~9.0
RAV5902~Isobel MacDougal~6.0
RAV5903~Morag MacDougal~0
RAV5904~Ernest Macmillan~0
RAV5905~Laura Madley~9.0
RAV5906~Draco Malfoy~7.0
RAV5907~Natalie McDonald~5.0
RAV5908~M. G. McGonagall~7.0
SLY2301~Hannah Abbott~9.0
SLY2302~Euan Abercrombie~7.5
SLY2303~Stewart Ackerley~7.75
SLY2304~Bertram Aubrey~7.0
SLY2305~Avery~8.0
SLY2306~Malcolm Baddock~6.75
SLY2307~Marcus Belby~8.25
SLY2308~Katie Bell~7.75
SLY2309~Sirius Orion Black~9.0
SLY2310~Melinda Bobbin~9.5
SLY2311~Susan Bones~7.25
SLY2312~Terry Boot~6.5
SLY2313~Eleanor Branstone~7.25
SLY2315~Mandy Brocklehurst~7.25
SLY2316~Lavender Brown~7.0
SLY2317~Millicent Bulstrode~6.0
SLY2318~S. Capper~6.5
SLY2319~Eddie Carmichael~6.75
SLY2320~Owen Cauldwell~9.0
SLY2321~Cho Chang~7.5
SLY2323~Michael Corner~7.75

In [11]:
dfout=pd.DataFrame(columns=["RollNo","Name","Average"])
fh=open("outdata8.txt",'r')
contents=fh.readlines()
for l  in contents:
    roll,name,avg=l.split('~')
    dfout=dfout.append({"RollNo":roll,"Name":name,"Average":avg.rstrip()},ignore_index=True)
dfout

     RollNo                    Name Average
0   GRF3701          Vincent Crabbe       0
1   GRF3702           Colin Creevey       0
2   GRF3703          Dennis Creevey       0
3   GRF3704            Roger Davies       0
4   GRF3705          Cedric Diggory       0
5   GRF3706           Harold Dingle       0
6   GRF3707              Emma Dobbs       0
7   GRF3708                J. Dorny       0
8   GRF3709              B. Dunstan       0
9   GRF3710      Marietta Edgecombe       0
10  GRF3711              S. Fawcett       0
11  GRF3712  Justin Finch-Fletchley       0
12  GRF3713         Seamus Finnigan       0
13  GRF3714         Vicky Frobisher       0
14  GRF3715           Basil Fronsac       0
15  GRF3716       Anthony Goldstein       0
16  GRF3717           Gregory Goyle     5.0
17  GRF9101           Eloise Midgen     6.0
18  GRF9102  Laverne de Montmorency     6.0
19  GRF9103      Montgomery sisters     8.0
20  GRF9104               Lily Moon     9.0
21  GRF9105           Harold Potter     9.0
22  GRF9106           Theodore Nott     9.0
23  GRF9107      Garrick Ollivander    10.0
24  GRF9108         Pansy Parkinson     8.0
25  GRF9109             Padma Patil     9.0
26  GRF9110           Parvati Patil    10.0
27  HUF7201            Gwenog Jones       0
28  HUF7202              Lee Jordan     9.0
29  HUF7203          Bertha Jorkins       0
..      ...                     ...     ...
44  RAV4309        Angelina Johnson     7.0
45  RAV5901             Oliver Wood     9.0
46  RAV5902        Isobel MacDougal     6.0
47  RAV5903         Morag MacDougal       0
48  RAV5904        Ernest Macmillan       0
49  RAV5905            Laura Madley     9.0
50  RAV5906            Draco Malfoy     7.0
51  RAV5907        Natalie McDonald     5.0
52  RAV5908        M. G. McGonagall     7.0
53  SLY2301           Hannah Abbott     9.0
54  SLY2302        Euan Abercrombie     7.5
55  SLY2303        Stewart Ackerley    7.75
56  SLY2304          Bertram Aubrey     7.0
57  SLY2305                   Avery     8.0
58  SLY2306         Malcolm Baddock    6.75
59  SLY2307            Marcus Belby    8.25
60  SLY2308              Katie Bell    7.75
61  SLY2309      Sirius Orion Black     9.0
62  SLY2310          Melinda Bobbin     9.5
63  SLY2311             Susan Bones    7.25
64  SLY2312              Terry Boot     6.5
65  SLY2313       Eleanor Branstone    7.25
66  SLY2315      Mandy Brocklehurst    7.25
67  SLY2316          Lavender Brown     7.0
68  SLY2317     Millicent Bulstrode     6.0
69  SLY2318               S. Capper     6.5
70  SLY2319        Eddie Carmichael    6.75
71  SLY2320          Owen Cauldwell     9.0
72  SLY2321               Cho Chang     7.5
73  SLY2323          Michael Corner    7.75

[74 rows x 3 columns]